{% extends 'client/profile/client_base.html' %}


{% block title %}
    Project Management - Change Client Password
{% endblock title %}


{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Change Password</h1>
                </div>


                <div class="col-md-12 py-5">
                    <div class="row">
                        <div class="col-md-3 py-2">
                            <p class="h2">Old Password: </p>
                        </div>
                        <div class="col-md-7 py-2">
                            <input type="text" class="form-control" disabled>
                        </div>
                        <div class="col-md-3 py-2">
                            <p class="h2">New Password: </p>
                        </div>
                        <div class="col-md-7 py-2">
                            <input type="password" class="form-control">
                        </div>
                    </div>
                    <br>

                    <div class="text-center">
                        <a href="client_profile.html" class="btn btn-danger" style="margin-left:10px;">Update
                            Password</a>
                    </div>

                </div>

            </main>

{% endblock content %}
