{% extends 'user/project_details/base.html' %}


{% block title %}
    Project Management - feedback Page
{% endblock title %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Projects Feedback</h2>
                    <div class="btn-toolbar mb-2 mb-md-0">
                    </div>
                </div>

                <h4>Project Title: osjpjd fdsfsndf sdfsndfndsf0</h4>

                <h4>Project Feedback: sods vdshdsv dsuobvsobvs</h4>

                <h4>No feedback given yet</h4>



    </main>

{% endblock content %}
